* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Asap, sans-serif;
}

body {
	background-color: #24272d
}

header {
	background: white;
	padding: 20px;
}


header > h1 {
	color: black;
	text-align: center;
	font-family: Asap, sans-serif;
}

.score-board {
	border: 3px solid white;
	padding: 15px 20px;
	width: 200px;
	margin: 20px auto;
	color: white;
	font-size: 46px;
	border-radius: 4px;
	text-align: center;
	position: relative;
}

.badge {
	background-color: #e2594d;
	font-size: 14px;
	padding: 2px 2px;
}

#user-label {
	position: absolute;
	top: 30px;
	left: -20px;
}

#comp-label {
	position: absolute;
	top: 30px;
	right: -20px;
}

.result-message {
	font-size: 40px;
	color: white;
}

.result-message > p {
	text-align: center;
	font-weight: bold
}

#action-message {
	font-size: 30px;
	color: white;
	text-align: center;
	margin-top: 20px;
}


.choices {
	margin-top: 50px;
	text-align: center;

}

.choice {
	display: inline-block;
	padding: 10px;
	margin: 0 15px;
	border: 3px solid white;
	border-radius: 50%
}

.choice:hover {
	transform: scale(1.25, 1.25); 
	cursor: pointer;
}

img {
	height: 100px;	
	width: 100px;

}

.green-glow {
	border: 4px solid #4dcc7d;
	box-shadow: 0 0 10px #31b438;
}

.red-glow {
	border: 4px solid #fc121b;
	box-shadow: 0 0 10px #d01115;
}

.gray-glow {
	border: 4px solid #464647;
	box-shadow: 0 0 10px #25292b;
}








